<template>
    <div class="menu-wrapper">
        <template v-if="!item.hidden && hasChildrenPermission(item)">
            <template
                v-if="
                    hasOneShowingChild(item.children, item) &&
                        (!onlyOneChild.children ||
                            onlyOneChild.noShowingChildren) &&
                        !item.alwaysShow
                "
            >
                <app-link
                    :to="resolvePath(onlyOneChild.path)"
                    v-if="onlyOneChild.meta"
                >
                    <el-menu-item
                        :class="{ 'submenu-title-noDropdown': !isNest }"
                        :index="resolvePath(onlyOneChild.path)"
                    >
                        <i
                            :class="
                                Object.assign({}, item.meta, onlyOneChild.meta)
                                    .icon
                            "
                            class="iconfont svg-icon"
                            v-if="
                                Object.assign({}, item.meta, onlyOneChild.meta)
                                    .icon
                            "
                        ></i>
                        <span
                            v-if="
                                Object.assign({}, item.meta, onlyOneChild.meta)
                                    .title
                            "
                        >
                            {{
                            Object.assign({}, item.meta, onlyOneChild.meta)
                            .title
                            }}
                        </span>
                    </el-menu-item>
                </app-link>
            </template>

            <el-submenu
                :index="resolvePath(item.path)"
                popper-append-to-body
                ref="subMenu"
                v-else
            >
                <template slot="title">
                    <i
                        :class="item.meta.icon"
                        class="iconfont svg-icon"
                        v-if="item.meta.icon"
                    ></i>
                    <span v-if="item.meta.title">{{ item.meta.title }}</span>
                </template>
                <template v-for="(child, index) in item.children">
                    <sidebar-item
                        :base-path="resolvePath(child.path)"
                        :is-nest="true"
                        :item="child"
                        :key="child.path"
                        class="nest-menu"
                        v-if="hasPermission(item.children[index].meta.roles)"
                    />
                </template>
            </el-submenu>
        </template>
    </div>
</template>

<script>
import path from 'path';
import { mapGetters } from 'vuex';
import { isExternal, roleJudge } from '@/utils';
import AppLink from './Link.vue';
import FixiOSBug from './FixiOSBug';


export default {
    name: 'SidebarItem',
    components: { AppLink },
    mixins: [FixiOSBug],
    props: {
        // route object
        item: {
            type: Object,
            required: true,
        },
        isNest: {
            type: Boolean,
            default: false,
        },
        basePath: {
            type: String,
            default: '',
        },
    },
    computed: {
        ...mapGetters(['role']),
    },
    data() {
        // To fix https://github.com/PanJiaChen/vue-admin-template/issues/237
        // TODO: refactor with render function
        this.onlyOneChild = null;
        return {};
    },
    methods: {
        hasOneShowingChild(children = [], parent) {
            const showingChildren = children.filter((item) => {
                if (item.hidden) {
                    return false;
                }
                // Temp set(will be used if only has one showing child)
                this.onlyOneChild = item;
                return true;
            });

            // When there is only one child router, the child router is displayed by default
            if (showingChildren.length === 1) {
                return true;
            }

            // Show parent if there are no child router to display
            if (showingChildren.length === 0) {
                this.onlyOneChild = {
                    ...parent,
                    path: '',
                    noShowingChildren: true,
                };
                return true;
            }

            return false;
        },
        resolvePath(routePath) {
            if (isExternal(routePath)) {
                return routePath;
            }
            if (isExternal(this.basePath)) {
                return this.basePath;
            }
            return path.resolve(this.basePath, routePath);
        },
        hasChildrenPermission(item) {
            let allChildrenRoles = [];
            if (item.children && !item.redirect) {
                const { children } = item;
                children.forEach((elem) => {
                    const { roles } = elem.meta;
                    // 保存所有子页的roles
                    allChildrenRoles = allChildrenRoles.concat(roles);
                });
                return roleJudge(allChildrenRoles);
            }
            return true;
        },
        hasPermission(roles) {
            if (!roles) {
                return true;
            }
            return roleJudge(roles);
        },
    },
};
</script>
