$--color-primary: teal;

//解决表头错位问题
body .el-table th.gutter {
    display: table-cell !important;
}

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
    font-weight: 400 !important;
}

.el-upload {
    input[type='file'] {
        display: none !important;
    }
}

.el-upload__input {
    display: none;
}

.el-dialog {
    transform: none;
    left: 0;
    position: relative;
    margin: 0 auto;
}

.upload-container {
    .el-upload {
        width: 100%;

        .el-upload-dragger {
            width: 100%;
            height: 200px;
        }
    }
}

// dropdown
.el-dropdown-menu {
    a {
        display: block;
    }
}
