@import './reset';
@import './variables';
@import './mixin';
@import './transition';
@import './element-variables';
@import './sidebar';

.clearfix {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: ' ';
        clear: both;
        height: 0;
    }
}

.app-container {
    padding: 20px;
}

.iconfont {
    margin: 0 5px;
    font-size: 14px;
}

.app-container-operation {
    text-align: right;
    padding-bottom: 20px;
}

.app-container-pagination {
    padding-top: 18px;
}

.collapse-item {
    .el-collapse-item__header {
        padding: 0 20px;
    }

    .el-collapse-item__wrap {
        padding: 0 20px;
    }
}

//解决表头错位问题
body .el-table th.gutter {
    display: table-cell !important;
}

.el-input.is-disabled .el-input__inner {
    color: #606266;
}
