/*
  重置样式
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html, body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
}

html, body, header, section, footer, div, ul, ol, li, img, a, span, em, del, legend, center, strong, var, fieldset, form, label, dl, dt, dd, cite, input, hr, time, mark, code, figcaption, figure, textarea, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  border: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
}

html {
  font-weight: 400;
  height: 100%;
  color: #333333;
}

body {
  outline: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f4f4f4;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

input[type='button'], input[type='submit'], input[type='reset'] {
  -webkit-appearance: none;
}

img {
  vertical-align: middle;
  border: 0;
  display: block;
}

ul, ol {
  list-style: none;
}

input, textarea, select {
  font-size: 100%;
  outline: 0;
  -webkit-appearance: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  text-decoration: none;
  color: #333333;
}

a:active, a:hover {
  outline-width: 0;
  text-decoration: none;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}

label {
  font-weight: 700;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
