<template>
    <div class="http404-container">
        页面出错
        <h5>
            <a
                @click="$router.replace(homeURL)"
                class="bullshit__return-home"
                href="javascript:;"
            >返回首页</a>
        </h5>
    </div>
</template>

<script>
export default {
    name: 'Page404',
    data() {
        return {
            homeURL: '/',
        };
    },
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.http404-container {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 40%;
    left: 50%;
}
</style>
