<template>
    <div class="navbar">
        <hamburger
            :is-active="sidebar.opened"
            @toggleClick="toggleSideBar"
            class="hamburger-container"
        />

        <breadcrumb class="breadcrumb-container" />

        <div class="right-menu">
            <el-dropdown
                class="avatar-container"
                trigger="click"
            >
                <div class="avatar-wrapper">
                    <span class="user-avatar">你好 {{user.username }} !</span>
                    <i class="el-icon-caret-bottom" />
                </div>
                <el-dropdown-menu
                    class="user-dropdown"
                    slot="dropdown"
                >
                    <router-link
                        :to="homeUrl"
                        class="inlineBlock"
                    >
                        <el-dropdown-item>首页</el-dropdown-item>
                    </router-link>
                    <a
                        @click="dialogVisible = true"
                        href="JavaScript:;"
                    >
                        <el-dropdown-item divided>修改密码</el-dropdown-item>
                    </a>
                    <a
                        @click="logout"
                        href="JavaScript:;"
                    >
                        <el-dropdown-item divided>登出</el-dropdown-item>
                    </a>
                </el-dropdown-menu>
            </el-dropdown>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Breadcrumb from '@/components/Breadcrumb.vue';
import Hamburger from '@/components/Hamburger.vue';

export default {
    components: {
        Breadcrumb,
        Hamburger,
    },
    data() {
        return {
            homeUrl: '/',
        };
    },
    computed: {
        ...mapGetters(['sidebar', 'avatar', 'user']),
    },
    methods: {
        toggleSideBar() {
            this.$store.dispatch('app/toggleSideBar');
        },
        async logout() {
            await this.$store.dispatch('user/AdminLogout');
            this.$router.push(`/login?redirect=${this.$route.fullPath}`);
        },
    },
};
</script>

<style lang="scss" scoped>
.navbar {
    height: 50px;
    overflow: hidden;
    position: relative;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);

    .hamburger-container {
        line-height: 46px;
        height: 100%;
        float: left;
        cursor: pointer;
        transition: background 0.3s;
        -webkit-tap-highlight-color: transparent;

        &:hover {
            background: rgba(0, 0, 0, 0.025);
        }
    }

    .breadcrumb-container {
        float: left;
    }

    .right-menu {
        float: right;
        height: 100%;
        line-height: 50px;

        &:focus {
            outline: none;
        }

        .right-menu-item {
            display: inline-block;
            padding: 0 8px;
            height: 100%;
            font-size: 18px;
            color: #5a5e66;
            vertical-align: text-bottom;

            &.hover-effect {
                cursor: pointer;
                transition: background 0.3s;

                &:hover {
                    background: rgba(0, 0, 0, 0.025);
                }
            }
        }

        .avatar-container {
            margin-right: 30px;

            .avatar-wrapper {
                position: relative;
                cursor: pointer;

                .user-avatar {
                    cursor: pointer;
                    width: 40px;
                    height: 40px;
                    border-radius: 10px;

                    .user-avatar {
                        vertical-align: middle;
                    }

                    .el-icon-caret-bottom {
                        margin-left: 10px;
                        vertical-align: middle;
                    }
                }

                .el-icon-caret-bottom {
                    font-size: 12px;
                    margin-left: 5px;
                }
            }
        }
    }
}
</style>
