<template>
    <div class="login-container">
        <el-form
            :model="loginForm"
            :rules="loginRules"
            auto-complete="on"
            class="login-form"
            label-position="left"
            ref="loginForm"
        >
            <h3 class="title">{{ projectTitle }}</h3>
            <el-form-item prop="username">
                <span class="svg-container">
                    <i class="iconfont icon-yonghu"></i>
                </span>
                <el-input
                    auto-complete="on"
                    name="username"
                    placeholder="请输入用户名"
                    type="text"
                    v-model="loginForm.username"
                ></el-input>
            </el-form-item>
            <el-form-item prop="password">
                <span class="svg-container">
                    <i class="iconfont icon-mima"></i>
                </span>
                <el-input
                    :type="pwdType"
                    @keyup.enter.native="handleLogin('loginForm')"
                    auto-complete="on"
                    name="password"
                    placeholder="请输入密码"
                    v-model="loginForm.password"
                ></el-input>
                <span
                    @click="showPwd"
                    class="show-pwd"
                >
                    <i
                        :class="
                            pwdType === 'password'
                                ? 'icon-yanjing'
                                : 'icon-chakanyanjingshishifenxi'
                        "
                        class="iconfont"
                    ></i>
                </span>
            </el-form-item>
            <el-form-item>
                <el-button
                    :loading="loading"
                    @click.native.prevent="handleLogin('loginForm')"
                    style="width:100%;"
                    type="primary"
                >登录
                </el-button>
            </el-form-item>
        </el-form>
    </div>
</template>

<script>

export default {
    name: 'Login',
    data() {
        return {
            projectTitle: 'test',
            loginForm: {
                username: '',
                password: '',
            },
            loginRules: {
                username: [
                    {
                        required: true,
                        message: '请输入用户名',
                        trigger: 'blur',
                    },
                ],
                password: [
                    {
                        required: true,
                        message: '请输入密码',
                        trigger: 'blur',
                    },
                ],
            },
            loading: false,
            pwdType: 'password',
        };
    },
    methods: {
        showPwd() {
            if (this.pwdType === 'password') {
                this.pwdType = 'text';
            } else {
                this.pwdType = 'password';
            }
        },
        handleLogin(formName) {
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    this.loading = true;
                    this.$store.dispatch('user/AdminLogin', this.loginForm)
                        .then(() => {
                            this.loading = false;
                            this.$router.push({ path: '/' });
                        })
                        .catch((err) => {
                            console.log(err);
                            this.loading = false;
                        });
                }
            });
        },
    },
};
</script>

<style rel="stylesheet/scss" lang="scss">
$bg: #2d3a4b;
$light_gray: #eee;

/* reset element-ui css */
.login-container {
    .el-input {
        display: inline-block;
        height: 47px;
        width: 85%;

        input {
            background: transparent;
            border: 0px;
            -webkit-appearance: none;
            border-radius: 0px;
            padding: 12px 5px 12px 15px;
            color: $light_gray;
            height: 47px;

            &:-webkit-autofill {
                -webkit-box-shadow: 0 0 0px 1000px $bg inset !important;
                -webkit-text-fill-color: #fff !important;
            }
        }
    }

    .el-form-item {
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        color: #454545;
    }
}
</style>

<style rel="stylesheet/scss" lang="scss" scoped>
$bg: #2d3a4b;
$dark_gray: #889aa4;
$light_gray: #eee;
.login-container {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: $bg;

    .login-form {
        position: absolute;
        left: 0;
        right: 0;
        width: 520px;
        max-width: 100%;
        padding: 35px 35px 15px 35px;
        margin: 120px auto;
    }

    .tips {
        font-size: 14px;
        color: #fff;
        margin-bottom: 10px;

        span {
            &:first-of-type {
                margin-right: 16px;
            }
        }
    }

    .svg-container {
        padding: 6px 5px 6px 15px;
        color: $dark_gray;
        vertical-align: middle;
        width: 30px;
        display: inline-block;
    }

    .title {
        font-size: 26px;
        font-weight: 400;
        color: $light_gray;
        margin: 0px auto 40px auto;
        text-align: center;
        font-weight: bold;
    }

    .show-pwd {
        position: absolute;
        right: 10px;
        top: 7px;
        font-size: 16px;
        color: $dark_gray;
        cursor: pointer;
        user-select: none;
    }
}
</style>
